<mat-nav-list>
    <ng-template ngFor let-element [ngForOf]='navListElements' let-show='false'>
        <a mat-list-item routerLink="element.path" (click)="show=!show">
            {{ element.name }}
            <mat-icon 
                color="default" 
                class="submenu-icon"
                *ngIf='element.subMenu.length > 0'>{{icon_right}}</mat-icon>
        </a>
        <asd-custom-nav-list 
            *ngIf="element.subMenu.length > 0 && show" 
            [class.nav-list-padding-left]="element.subMenu.length > 0"
            [navListElements]="element.subMenu">
    
        </asd-custom-nav-list>
    </ng-template>
</mat-nav-list>
