<mat-sidenav-container class="sidenav-container">
    <mat-sidenav 
        #snav 
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" 
        fixedTopGap="56">
        <asd-custom-nav-list [navListElements]="menuElements"></asd-custom-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
