<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="main-container" [class.is-mobile]="snav.mobileQuery.matches">
    <mat-toolbar color='primary'>
        <button mat-icon-button (click)="snavToggle()"><mat-icon>menu</mat-icon></button>
        <span>{{title}}</span>
    
        <!-- This fills the remaining space of the current row -->
        <span class='example-fill-remaining-space'></span>
    
        <span><button mat-button [routerLink]="['/home']">Home</button></span>
        <span><button mat-button [routerLink]="['/posts']">Posts</button></span>
        <span><button mat-button [routerLink]="['/albums']">Albums</button></span>
        <span><button mat-button [routerLink]="['/catalogues']">Catalogues</button></span>
    </mat-toolbar>
    <asd-side-bar #snav [menuElements]="menuElements"></asd-side-bar>
    <div [class.fixed-content]='snav.show'>
        <router-outlet></router-outlet>
    </div>
</div>