<mat-card>
    <mat-card-content>
        <div class="mat-elevation-z8">
            <mat-toolbar class="card-options-table">
                <span>{{titleCatalogue}}</span>
            
                <!-- This fills the remaining space of the current row -->
                <span class='example-fill-remaining-space'></span>
            </mat-toolbar>
            <!--HER CONTAIN CONTENT FOR EXPANSION PANEL START-->
            <asd-dual-list [toAssign]="toAssign" [assigned]="assigned"></asd-dual-list>
            <!--HER CONTAIN CONTENT FOR EXPANSION PANEL END-->
        </div>
    </mat-card-content>
</mat-card>