<div class="grid"> <!-- contenedor -->
    <div>
        <form class="form-dual-list">
            <mat-form-field class="full-width">
                <input matInput matTooltip='You can filter by "Module" name, "Application" and "ID"'  placeholder="Filter" [(ngModel)]="filterToAssign" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <button mat-raised-button class="full-width" (click)="assignAll()">
                <mat-icon aria-hidden="false" aria-label="To Assign">keyboard_arrow_right</mat-icon>
                <mat-icon aria-hidden="false" aria-label="To Assign">keyboard_arrow_right</mat-icon>
            </button>
            <div class="dual-list-box">
                <mat-card *ngFor="let obj of toAssignFiltered" class="card-item-dual-list">
                    <mat-card-header>
                        <mat-card-title>{{obj.title}}</mat-card-title>
                        <mat-icon class="icon-card-header">build</mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>Module:</b></td>
                                    <td>{{obj.module}}</td>
                                </tr>
                                <tr>
                                    <td><b>Application:</b></td>
                                    <td>{{obj.app}}</td>
                                </tr>
                                <tr>
                                    <td><b>ID:</b></td>
                                    <td>{{obj.id}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button (click)="assign(obj.id)">
                            <mat-icon aria-hidden="false" aria-label="To Assign">keyboard_arrow_right</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </form>
    </div> <!-- cada uno de los ítems del grid -->
    <div>
        <form class="form-dual-list">
            <mat-form-field class="full-width">
                <input matInput placeholder="Filter" matTooltip='You can filter by "Module" name, "Application" and "ID"' [(ngModel)]="filterAssigned" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <button mat-raised-button class="full-width" (click)="removeAll()">
                <mat-icon aria-hidden="false" aria-label="Assigned">keyboard_arrow_left</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Assigned">keyboard_arrow_left</mat-icon>
            </button>
            <div class="dual-list-box">
                <mat-card *ngFor="let obj of assignedFiltered" class="card-item-dual-list">
                    <mat-card-header>
                        <mat-card-title>{{obj.title}}</mat-card-title>
                        <mat-icon class="icon-card-header">build</mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-divider></mat-divider>
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>Module:</b></td>
                                    <td>{{obj.module}}</td>
                                </tr>
                                <tr>
                                    <td><b>Application:</b></td>
                                    <td>{{obj.app}}</td>
                                </tr>
                                <tr>
                                    <td><b>ID:</b></td>
                                    <td>{{obj.id}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card-content>
                    <mat-card-actions align="start">
                        <button mat-button (click)="removeAssigned(obj.id)">
                            <mat-icon aria-hidden="false" aria-label="Assigned">keyboard_arrow_left</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </form>
    </div>
</div>
