.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.form-dual-list {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.dual-list-box {
    width: 100%;
    height: 262px !important;
    padding: 0;
    overflow-y: scroll;
}

.card-item-dual-list{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #3f51b5;
}

.icon-card-header {
    margin-left: auto !important;
    font-size: 18px;
    height: 18px;
    width: 18px;
}