
<h1 mat-dialog-title>{{titleDialog}}</h1>
<form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
    <div mat-dialog-content >
        <div class="form-container">
            <mat-form-field>
                <mat-select placeholder="Usuario" [(ngModel)]="data.userId" required name="userId" id="userId">
                    <mat-option value="">None</mat-option>
                    <mat-option *ngFor='let user of users' [value]="user.id">
                        {{ user.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput placeholder="Title" [(ngModel)]="data.title" required name="title" id="title">
            </mat-form-field>
        
            <mat-form-field>
                <textarea matInput placeholder="Content" [(ngModel)]="data.body" required name="body" id="body"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button type="button" (click)="onNoClick()">Close</button>
      <button mat-button type="submit" [disabled]="!postForm.form.valid">Save</button>
    </div>
</form>