<mat-card>
    <mat-card-content>
        <div class='mat-elevation-z8'>
            <mat-toolbar class="card-options-table">
                <span>{{titleList}}</span>
            
                <!-- This fills the remaining space of the current row -->
                <span class='example-fill-remaining-space'></span>
                
                <span class="options-header">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"/>
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </span>
                <span class="options-header">
                    <button mat-raised-button (click)="openDialog()">
                        <mat-icon color="primary">add_circle_outline</mat-icon>
                        Add Post
                    </button>
                </span>
                <span class="options-header">
                    <button mat-raised-button [matMenuTriggerFor]="menuExport">
                        <mat-icon color="primary">cloud_download</mat-icon>
                        Export
                    </button>
                    <mat-menu #menuExport="matMenu">
                        <button mat-menu-item (click)="downloadJSON()">
                            JSON File
                        </button>
                        <button mat-menu-item (click)="downloadExcel()">
                            Excel File
                        </button>
                    </mat-menu> 
                </span>
                <span class="options-header">
                    
                    <button mat-button (click)="refresh()">
                        <mat-icon color="primary">refresh</mat-icon>
                    </button>
                </span>
            </mat-toolbar>
            <mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="align-center"> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                </ng-container>
        
                <!-- user Column -->
                <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="align-center"> User </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.user.name }} </mat-cell>
                </ng-container>
        
                <!-- Title Column -->
                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="align-center"> Title </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
                </ng-container>
        
                <!-- Body Column -->
                <ng-container matColumnDef="body">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="align-center"> Body </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.body}} </mat-cell>
                </ng-container>
        
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="align-center"> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="align-center"> 
                        <button mat-button [matMenuTriggerFor]="menu"><b class="font-action-button">...</b></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="delete(row.id)">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">remove</mat-icon>
                                Delete
                            </button>
                            <button mat-menu-item (click)="edit(row.id)">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                                Edit
                            </button>
                        </mat-menu>    
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-card *ngIf="loading" class="loading">
                <mat-progress-spinner
                    color="primary" 
                    mode="indeterminate">
                </mat-progress-spinner>
            </mat-card>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
    