table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.align-center {
    display: flex;
    padding: 21px 0;
    justify-content: center;
}

.font-action-button {
    font-size: xx-large;
}

.options-header {
    padding-left: 20px;
}

.card-options-table {
    background: #fff;
    color: rgba(0,0,0,.87);
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-bottom-color: rgba(0,0,0,.12);
}

.loading {
    display: flex; 
    justify-content: center; 
    align-items: center
}