/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.btn-align-right {
  margin-left: auto !important;
}

.fixed-content {
  padding-left: 175px;
}

.full-width {
  width: 100%;
}

.mat-card-header-text{
  margin: 0 !important;
}

.mat-card-content {
  margin-bottom: 0 !important;
}