<mat-card>
    <mat-card-content>
        <div class="mat-elevation-z8">
            <mat-toolbar class="card-options-table">
                <span>Album: {{ album.title }}</span>
            
                <!-- This fills the remaining space of the current row -->
                <span class='example-fill-remaining-space'></span>
                <button mat-button (click)="onBack()">
                    <mat-icon color="primary">keyboard_arrow_left</mat-icon>
                </button>
            </mat-toolbar>
            <mat-grid-list cols="6" rowHeight="150px" gutterSize="10px">
                <mat-grid-tile *ngFor="let photo of photos; let i = index">
                    <img [src]="photo.thumbnailUrl" alt="" width="100%">
                    <mat-grid-tile-footer class="grid-line-height-normal">
                        <span [title]="photo.title">{{ photo.title | slice:0:9 }}...</span>
                        <button mat-button class="btn-align-right" (click)="openPreview(i)">
                            <mat-icon color="default">launch</mat-icon>
                        </button>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card-content>
</mat-card>
<ngx-gallery #gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>