<mat-card>
    <mat-card-content>
        <div class="mat-elevation-z8">
            <mat-toolbar class="card-options-table">
                <span>{{titleAlbum}}</span>
            
                <!-- This fills the remaining space of the current row -->
                <span class='example-fill-remaining-space'></span>
            </mat-toolbar>
            <mat-grid-list cols="6" rowHeight="150px" gutterSize="10px">
                <mat-grid-tile *ngFor="let album of albums">
                    <img [src]="album.imgThumbnailUrl" alt="" width="100%">
                    <mat-grid-tile-footer class="grid-line-height-normal">
                        <span [title]="album.title">{{ album.title | slice:0:9 }}...</span>
                        <a mat-button [routerLink]='["/albums", album.id]' class="btn-align-right">
                            <mat-icon color="default">keyboard_arrow_right</mat-icon>
                        </a>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card-content>
</mat-card>
